<h1>welcome</h1>

<!--<form action="{{ url_for('ctr.change_text_color') }}" method="post">-->
    <!--<input type="number" name="input_change_color" value="{{}}">-->
    <!--<input type="submit" value="警戒值">-->
<!--</form>-->

<!--{{ super() }}-->
	<!--<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">-->


<!--{% if pagination %}-->
<!--<div class="pagination">-->
    <!--{{ macros.pagination_widget(pagination, 'ctr.show_buy_materials') }}-->
<!--</div>-->
<!--{% endif %}-->

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctr.show_join_oprs_main') }}
</div>
{% endif %}

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctr.show_join_oprs') }}
</div>
{% endif %}


{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctr.show_material_table') }}
</div>
{% endif %}

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctr.show_param_accessory') }}
</div>
{% endif %}


{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctr.show_rework_materials') }}
</div>
{% endif %}