<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <!-- <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="D:\Python37\python.exe %s %s" resourceType="Unspecified" /> -->
      <!-- scriptProcessor wfastcgi-enable -->
      <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\Python37\python.exe|d:\Python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security> 
        <!-- -->
        <requestFiltering allowDoubleEscaping="true"></requestFiltering> 
    </security>
        <httpErrors errorMode="Detailed" /> 
  </system.webServer>
 
  <appSettings>
    <!-- Required settings -->
    <!--  D:/project/invenorty/main_run-->
    <add key="WSGI_HANDLER" value="hello.app" />
    <add key="PYTHONPATH" value="~/" />
 
    <!-- Optional settings -->
    <!--  -->
    <add key="WSGI_LOG" value="F:\logs\oboeqa_web.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value="" />
	<!---->
    <add name="12345" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
  </appSettings>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Forms" />
    </system.web>
</configuration>

