{% extends "base.html" %}

{% block page_content %}
<h2>使用说明</h2>
<p>这个小项目包含14个基本功能：</p>
<p>&nbsp;&nbsp;&nbsp;  购买，返修，出库，备货，售后带出，售后带回在[库存列表]界面，</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;入库，取消购买在[购买列表]界面，</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;修好，报废在[返修列表]界面</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;设备出库在[设备列表]界面</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;新添加材料在[添加新库存]界面</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;新添加设备在[添加新设备]界面</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;新添加客户在[添加新客户]界面</p>
<p>* 1,如果基本功能点错了，可以在主要操作记录界面点击[回滚一条操作](或多条)，取消刚才的操作（备注不能被恢复）</p>
<p>* 2,如果发现bug，请截图发邮件到<3471318547@qq.com>可以保存（不是QQ消息）</p>
{% endblock %}

