{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div>
    <form action="{{ url_for('ctr.form_change_comment_act',oprtype='CLIENT') }}" method="post" >
         <table  class="table table-hover" id="table_client">
             <thead>
                 <th>客户ID</th>
                 <th>客户名</th>
                 <th>设备ID</th>
                 <th>客户信用</th>
                 <th>备注</th>
             </thead>
             {% for entry in clients %}
             <tr>
                 <td>{{entry.client_id}}</td>
                 <td>{{entry.client_name}}</td>
                 <td>{{entry.device_id}}</td>
                 <td>{{entry.credit}}</td>
                 <td><input type="text" name="input_text_comment" value="{{entry.comment}}"></td>
             </tr>
             {% endfor %}
         </table>
        <input type="submit" value="备注提交" onclick="form_client.action='{{ url_for('ctr.form_change_comment',oprtype=Oprenum.CLIENT.name) }}';form_client.submit())">
    </form>
</div>
{% endblock %}