{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div>
    <form name="form_device" method="post">
         <table  class="table table-hover" class="table_orange">
             <thead>
                 <th>设备ID</th>
                 <th>MN号</th>
                 <th>设备类型</th>
                 <th>设备名</th>
                 <th>库存数量</th>
                 <th>备货数量</th>
                 <th>售出数量</th>
                 <th>售后售出数量</th>
                 <th>配件组ID</th>
                 <th>配件组</th>
                 <th>出库数量</th>
                 <th>备注(请勾选右侧)</th>
             </thead>
             {% for entry in devices %}
             <tr>
                 <td>{{entry.device_id}}</td>
                 <td>{{entry.MN_id}}</td>
                 <td>{{entry.device_type}}</td>
                 <td>{{entry.device_name}}</td>
                 <td>{{entry.storenum}}</td>
                 <td>{{entry.preparenum}}</td>
                 <td>{{entry.salenum}}</td>
                 <td>{{entry.resalenum}}</td>
                 <td>{{entry.acces_id}}</td>
                 <td>
                     {% set a=dbsession.query(Accessory).filter_by(acces_id=(entry.acces_id|int)).first() %}
                     {% set acces= json.loads(a.param_acces)  %}
                     <!--{{acces}}-->
                     {% for key in acces %}
                     <!--{{key}}-->
                          {% set m=dbsession.query(Material).filter_by(material_id=(key|int)).first() %}
                          {{m.material_name}}:{{acces[key]}}&nbsp;&nbsp;
                     {% endfor %}
                 </td>
                 <td><input type="number" name="input_number_{{entry.device_id}}_{{entry.MN_id}}" class="text_acce"></td>
                 <td><input type="text" class="text_comment"  name="input_comment_{{entry.device_id}}_{{entry.MN_id}}" value="{{entry.comment}}">
                     <input type="checkbox" name="input_checkbox_comment" value="{{entry.device_id}}_{{entry.MN_id}}"></td>
             </tr>
             {% endfor %}
        </table>
        <input type="submit" name="input_submit_recycle" value="售后带回" onclick="form_device.action='{{ url_for('ctr.form_change_device_recycle') }}';form_device.submit()">
        <input type="submit" name="input_submit_outbound" value="出库提交" onclick="form_device.action='{{ url_for('ctr.form_change_device_outbound') }}';form_device.submit()">
        <input type="submit" name="input_submit_comment" value="备注提交" onclick="form_device.action='{{ url_for('ctr.form_change_comment',comment_type=CommentType.DEVICE.name) }}';form_device.submit()">

    </form>
</div>
{% endblock %}