{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div>
    <h4>库存列表</h4>
    <form action="{{ url_for('ctr.form_change_num',page=page) }}" method="post">

        <table class="table table-hover" id="table_material">
             <thead>
                 <th>库存ID</th>
                 <th>库存名</th>
                 <th>库存数量</th>
                 <th>备货数量</th>
                 <th>总数量</th>
                 <th>警戒值</th>
                 <th>参数模板ID</th>
                 <th>操作数量-操作类型</th>
             </thead>
             {% for entry in materials %}
             <tr id="tr_entry">
                 <td>{{entry.material_id}}</td>
                 <td>{{entry.material_name}}</td>
                 {% if entry.countnum < entry.alarm_level  %}
                 <td  style="color:red">{{entry.countnum}}</td>
                 {% else %}
                 <td>{{entry.countnum}}</td>
                 {% endif %}
                 <td>{{entry.preparenum}}</td>
                 <td>{{entry.countnum+entry.preparenum}}</td>
                 <td>{{entry.alarm_level}}</td>
                 <td>{{entry.acces_id}}</td>

                 <td>
                     <input id="numcls1"  name="input_number_{{entry.material_id}}" type="text">
                     <input id="numcls2"  name="input_oprlist_{{entry.material_id}}"  list="operations" >
                     <datalist id="operations">
                         <option value="购买">
                         <option value="返修">
                         <option value="出库">
                         <option value="备货">
                         <option value="售后带回">
                         <option value="售后带出">
                    </datalist>
                 </td>
             </tr>
             {% endfor %}
        </table>
        <input name="input_sbumit" type="submit" value="提交操作">
    </form>
</div>




{% endblock %}

