{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div>
    <form name="form_rework" method="post">
         <h4>返修中列表</h4>
         <table class="table table-hover" id="table_rework_buy"><!--table-condensed-->
             <thead>
                 <th>购买ID</th>
                 <th>库存ID</th>
                 <th>库存名称</th>
                 <th>返修数量</th>
                 <th>返修日期</th>
                 <th>修好/报废数量</th>
                 <th>备注(不超过20个字,请勾选右侧)</th>
                 <!--<th>备注选择</th>-->
             </thead>
             {% for entry in reworkbatches %}
                 <!--{% set index=loop.index %}-->
                 <tr>
                     <td>{{entry.rework_id}}</td>
                     <td>{{entry.material_id}}</td>
                     <td>{{entry.material_name}}</td>
                     <td>{{entry.num}}</td>
                     <td>{{entry.batch}}</td>
                     <!--<td><input type="hidden" name="input_hidden_{{index}}_{{loop.index}}" value="{{entry.material_id}}_{{batch}}">-->
                     <td><input type="number" name="input_restore_num_{{entry.material_id}}_{{entry.batch}}"></td>
                     <td><input id="comment_txt" type="text" name="input_comment_{{entry.material_id}}_{{entry.batch}}" value="{{entry.comment}}">
                         <input type="checkbox" name="input_checkbox_comment" value="{{entry.material_id}}_{{entry.batch}}" ></td>
                 </tr>
             {% endfor %}
         </table>
         <input type="submit" name="input_restore_btn" value="修好提交" onclick="form_rework.action='{{ url_for('ctr.form_change_restore_num') }}';form_buy.submit()">
         <input type="submit" name="input_cancel_btn" value="报废提交" onclick="form_rework.action='{{ url_for('ctr.form_change_scrap') }}';form_buy.submit()">
         <input type="submit" name="input_comment_btn" value="备注提交" onclick="form_rework.action='{{ url_for('ctr.form_change_comment',comment_type=CommentType.REWORK.name) }}';form_buy.submit()">
    </form>
</div>


{% endblock %}




